@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

/* @apply let to use the same class tailwind into more file */
.page {
  @apply flex flex-col items-center justify-center min-w-full min-h-screen;
}

.title-pink {
  @apply text-5xl text-pink-600 font-bold my-5;
}

.title {
  color: red;
}
